public/flow/MQTT_sub.json
[{"id":"dd1a42ce.3cac8","type":"function","z":"b08b066f.fbb7d8","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( msg.payload);\nif(parseData === null){\n    node.warn('Repeat message drop!!!');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":615.1874618530273,"y":174.20547485351562,"wires":[["edd43dd5.a0a19"]]},{"id":"c12dca36.fc8a08","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"[{\"channel\":924375000, \"sf\":10, \"time\":\"2017-09-27T03:55:14\", \"gwip\":\"10.8.20.173\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-40.0, \"snr\":30.8, \"snr_max\":38.3, \"snr_min\":23.3, \"macAddr\":\"00000000050106e5\", \"data\":\"fb0100af00000403f90a0000000000\", \"frameCnt\":4, \"fport\":17}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.81250762939453,"y":175.81874084472656,"wires":[["e2e0baa0.d73348"]]},{"id":"f13585b9.aade58","type":"function","z":"b08b066f.fbb7d8","name":"Parse MQTT data","func":"var obj = msg.payload[0];\nnode.warn('obj :'+JSON.stringify(obj));\nvar arr =[\"aa104200e0000302011b08a5016d01d6\",\"aa104800cb000302011d08a3015301d6\",\n          \"aa103800de000302011f089e014001d6\",\"aa103a00dd000302012308a1013601d6\",\n          \"aa104700c70003020127089f015a01d6\",\"aa104700c70003020127089f015a01d6\",\n          \"aa103900da000302012a089e012b01d6\",\"aa103f00da0003020125089f015901d6\",\n          \"aa103b00d90003020126089f017601d6\",\"aa104700c40003020127089c017f01d5\"];\nvar maxNum = 10;  \nvar minNum = 0;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;\nnode.warn('n : '+n);\nvar data = arr[n];\nvar cnt = 0;\nif(context.get('count') === undefined){\n    context.set(\"count\",obj.frameCnt);\n}else{\n    cnt = context.get('count') + 1;\n    context.set(\"count\",cnt);\n}\n//node.warn('cnt: '+cnt);\n\nobj.frameCnt = cnt;\nobj.data = data;\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"x":693.9553985595703,"y":39.53303909301758,"wires":[["321fc266.1d3efe"]]},{"id":"be973125.d8c58","type":"function","z":"b08b066f.fbb7d8","name":" message switch notify","func":"\nvar obj = msg.payload;\nvar debug = false;\nnode.warn('final payload : \\n'+JSON.stringify(obj));\nif(obj.information.voltage<600){\n    var str = obj.mac + \":\"+\"電壓 = \" + obj.information.voltage + \"過低\";\n    msg.payload = str;\n    msg.topic = \"惟壹sensor問題通知\";\n    node.warn('final payload : '+str);\n\n    return msg;\n}else{\n    return;\n}","outputs":1,"noerr":0,"x":619.8125,"y":235.81875610351562,"wires":[["7460f1be.3e2b9"]]},{"id":"7460f1be.3e2b9","type":"e-mail","z":"b08b066f.fbb7d8","server":"smtp.gmail.com","port":"465","secure":true,"name":"hyper5798@gmail.com","dname":"","x":876.8124542236328,"y":235.8187484741211,"wires":[]},{"id":"39cc8912.c924f6","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":" {\"mac\":\"05010403\",\"data\":\"aa1069007b00170200db09fa00cf0205\",\"recv\":\"2017-06-08T00:31:52.000Z\",\"date\":\"2017/06/08 08:31:52\",\"extra\":{\"gwip\":\"134.208.240.24\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-105,\"snr\":15.5},\"timestamp\":1496881912000,\"information\":{\"ph\":1.23,\"do\":0.23,\"cond\":131.291,\"temperature\":25.54,\"ntu\":2.07,\"voltage\":517}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":432.8125,"y":235.81875610351562,"wires":[["be973125.d8c58"]]},{"id":"b55d8c18.efc18","type":"comment","z":"b08b066f.fbb7d8","name":"手動測試(須改data tag)","info":"","x":132,"y":214.68542671203613,"wires":[]},{"id":"509da271.c6b37c","type":"comment","z":"b08b066f.fbb7d8","name":"手動測試mail收信(不需改tag)","info":"","x":477.97914123535156,"y":270.6854248046875,"wires":[]},{"id":"edd43dd5.a0a19","type":"debug","z":"b08b066f.fbb7d8","name":"","active":true,"console":"false","complete":"false","x":797.4999084472656,"y":173.83749961853027,"wires":[]},{"id":"321fc266.1d3efe","type":"debug","z":"b08b066f.fbb7d8","name":"","active":true,"console":"false","complete":"false","x":910.5000305175781,"y":40.55178260803223,"wires":[]},{"id":"202f1dbc.4a5052","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":114.50621032714844,"y":359.3811683654785,"wires":[["d548bb99.2886c8"]]},{"id":"d548bb99.2886c8","type":"function","z":"b08b066f.fbb7d8","name":"Save final list to  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nvar obj = {\n   \"selector\": {\n    \"mac\": \"0000000004000493\"\n     },\n    \"fields\" : [\"macAddr\",\"information.\"],\n    \"limit\": 10,\n    \"skip\": 0\n  };\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\nvar list = {\n      \"mac\":\"aaaaaa\",\n      \"temp\":\"32\",\n      \"humidity\":\"55\",\n      \"recordTime\":\"2017-08-31T09:48:42.504104Z\"\n    };\nmsgTools.saveFinalListToFile(null); \nmsg.payload = msgTools.getFinalList();\nreturn msg;","outputs":1,"noerr":0,"x":356.8124465942383,"y":358.8187313079834,"wires":[["1b0f2d75.504643"]]},{"id":"1b0f2d75.504643","type":"debug","z":"b08b066f.fbb7d8","name":"","active":true,"console":"false","complete":"false","x":633.4999237060547,"y":358.8374671936035,"wires":[]},{"id":"d7bbe2ee.27642","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":109.81249237060547,"y":474.8187313079834,"wires":[["711b86f6.809d98"]]},{"id":"711b86f6.809d98","type":"function","z":"b08b066f.fbb7d8","name":"Updata device-map from  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nmsgTools.updateDeviceMap();\nreturn msg;","outputs":1,"noerr":0,"x":372.1187286376953,"y":474.2562942504883,"wires":[[]]},{"id":"55cd7842.f07ef8","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":110.81249237060547,"y":396.81875228881836,"wires":[["2659730.42e998e"]]},{"id":"2659730.42e998e","type":"function","z":"b08b066f.fbb7d8","name":"Updata finalList from  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nmsgTools.updateFinalList();\nreturn msg;","outputs":1,"noerr":0,"x":363.1187286376953,"y":396.25631523132324,"wires":[[]]},{"id":"27110c4e.2f9f64","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":112.81250762939453,"y":513.8187866210938,"wires":[["b13242de.4ef85"]]},{"id":"b13242de.4ef85","type":"function","z":"b08b066f.fbb7d8","name":"New device-map from file to  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nmsgTools.setDeviceMapFromFile();\nreturn msg;","outputs":1,"noerr":0,"x":385.1187438964844,"y":513.2563495635986,"wires":[[]]},{"id":"1eb7c038.27d7d","type":"comment","z":"b08b066f.fbb7d8","name":"手動將finalList存到clodunt","info":"","x":115,"y":316.8187561035156,"wires":[]},{"id":"aa986b80.28f068","type":"mqtt in","z":"b08b066f.fbb7d8","name":"","topic":"GIOT-GW/UL/+","qos":"2","broker":"ff376a4b.f49b78","x":155.1666717529297,"y":49.55555725097656,"wires":[["5f7aba87.8d32a4"]]},{"id":"5f7aba87.8d32a4","type":"debug","z":"b08b066f.fbb7d8","name":"","active":false,"console":"false","complete":"false","x":356.1666717529297,"y":49.444443702697754,"wires":[]},{"id":"e2e0baa0.d73348","type":"json","z":"b08b066f.fbb7d8","name":"","x":262.1666717529297,"y":174.11111450195312,"wires":[["b1d66595.988d88","c327e3b6.85ab1"]]},{"id":"b1d66595.988d88","type":"function","z":"b08b066f.fbb7d8","name":"Filter fport","func":"var load = msg.payload[0];\n//node.warn('load : ' + JSON.stringify(load));\nif (load.fport ===17 || load.fport === 18) {\n    msg.payload = load;\n    return msg;\n}else{\n    node.log('\\n###### fport is not 17 or 18 to drop data');\n    return;\n}\n","outputs":1,"noerr":0,"x":420.28570556640625,"y":174.28572845458984,"wires":[["c782bc87.824b7","dd1a42ce.3cac8"]]},{"id":"c782bc87.824b7","type":"debug","z":"b08b066f.fbb7d8","name":"","active":false,"console":"false","complete":"false","x":612.0952796936035,"y":100.34920501708984,"wires":[]},{"id":"c327e3b6.85ab1","type":"debug","z":"b08b066f.fbb7d8","name":"","active":false,"console":"false","complete":"false","x":139.1666717529297,"y":253.4444465637207,"wires":[]},{"id":"ff376a4b.f49b78","type":"mqtt-broker","z":"","broker":"119.81.189.47","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]