public/flow/MQTT_sub.json
[{"id":"1c14967c.290fda","type":"function","z":"1eda2f37.e151d1","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( msg.payload);\nif(parseData === null){\n    node.warn('Repeat message drop!!!');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":606.1874389648438,"y":174,"wires":[["b92eea67.1f38e8","21f1b0f2.ee86f"]]},{"id":"d513705d.43c77","type":"inject","z":"1eda2f37.e151d1","name":"","topic":"","payload":"[{\"channel\":923625000, \"sf\":10, \"time\":\"2017-10-03T07:44:45\", \"gwip\":\"10.8.20.173\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-45.0, \"snr\":27.0, \"snr_max\":38.3, \"snr_min\":19.5, \"macAddr\":\"00000000050102c9\", \"data\":\"fb01050400470404bd0a0e00000000\", \"frameCnt\":370, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":101.81250762939453,"y":173.61326599121094,"wires":[["9637247e.2d3cd8"]]},{"id":"21f1b0f2.ee86f","type":"function","z":"1eda2f37.e151d1","name":" message switch notify","func":"var msgTools = context.global.msgTools;\nvar obj = msg.payload;\nvar msgObj = msgTools.getNotifyMessage(obj);\nvar msg2 = {};\n\nif(msgObj){\n    var message = '裝置: ' + msgObj.name + '\\n';\n    message = message + '識別碼: ' + msgObj.mac + '\\n';\n    message = message + '時間: ' + msgObj.date + '\\n';\n    message = message + '異常訊息: ' + msgObj.message;\n    msg.payload = message;\n    msg.topic = \"永齡農場問題通知\";\n    //node.warn('final payload : ' + message);\n    msg2.payload = msgObj;\n\n    return [msg,msg2];\n}else{\n    return;\n}","outputs":"2","noerr":0,"x":671.8125,"y":272.61328125,"wires":[["e7662b78.32f848"],["a294def9.6adac"]]},{"id":"a79970cf.2ab95","type":"inject","z":"1eda2f37.e151d1","name":"","topic":"","payload":"{ \"macAddr\": \"00000000050106e5\", \"data\": \"fb0104c40000060b140a63013f0000\", \"time\": 1509608809000, \"recv\": \"2017-11-02T07:46:49\", \"date\": \"2017-11-02 15:46:49\", \"extra\": { \"gwip\": \"192.168.0.231\", \"gwid\": \"00001c497b431e2e\", \"rssi\": -64, \"snr\": 25, \"fport\": 17, \"frameCnt\": 73, \"channel\": 926125000 }, \"information\": { \"ph\": \"6.89\", \"water\": \"28.36\", \"temperature\": \"26.59\", \"ec\": \"0.32\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":427.8125,"y":229.61328125,"wires":[["21f1b0f2.ee86f"]]},{"id":"2634dd39.876932","type":"comment","z":"1eda2f37.e151d1","name":"手動測試(須改frameCount)","info":"","x":142,"y":223.4799518585205,"wires":[]},{"id":"91ef9630.719428","type":"comment","z":"1eda2f37.e151d1","name":"手動測試mail收信","info":"","x":369.9791564941406,"y":267.4799499511719,"wires":[]},{"id":"b92eea67.1f38e8","type":"debug","z":"1eda2f37.e151d1","name":"","active":true,"console":"false","complete":"false","x":672.4998779296875,"y":43.63201904296875,"wires":[]},{"id":"eddde97b.c43588","type":"inject","z":"1eda2f37.e151d1","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":114.50621032714844,"y":368.1756935119629,"wires":[["8be764d0.e64df8"]]},{"id":"8be764d0.e64df8","type":"function","z":"1eda2f37.e151d1","name":"Save final list to  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nvar obj = {\n   \"selector\": {\n    \"mac\": \"0000000004000493\"\n     },\n    \"fields\" : [\"macAddr\",\"information.\"],\n    \"limit\": 10,\n    \"skip\": 0\n  };\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\nvar list = {\n      \"mac\":\"aaaaaa\",\n      \"temp\":\"32\",\n      \"humidity\":\"55\",\n      \"recordTime\":\"2017-08-31T09:48:42.504104Z\"\n    };\nmsgTools.saveFinalListToFile(null); \nmsg.payload = msgTools.getFinalList();\nreturn msg;","outputs":1,"noerr":0,"x":356.8124465942383,"y":367.6132564544678,"wires":[["4fb9c2f2.546ddc"]]},{"id":"4fb9c2f2.546ddc","type":"debug","z":"1eda2f37.e151d1","name":"","active":true,"console":"false","complete":"false","x":633.4999237060547,"y":367.6319923400879,"wires":[]},{"id":"e6a13dc8.09841","type":"inject","z":"1eda2f37.e151d1","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":109.81249237060547,"y":483.6132564544678,"wires":[["75fa09bb.36d468"]]},{"id":"75fa09bb.36d468","type":"function","z":"1eda2f37.e151d1","name":"Updata device-map from  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nmsgTools.updateDeviceMap();\nreturn msg;","outputs":1,"noerr":0,"x":372.1187286376953,"y":483.05081939697266,"wires":[[]]},{"id":"39119ad7.f21106","type":"inject","z":"1eda2f37.e151d1","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":110.81249237060547,"y":405.61327743530273,"wires":[["cf0deff6.3a4c5"]]},{"id":"cf0deff6.3a4c5","type":"function","z":"1eda2f37.e151d1","name":"Updata finalList from  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nmsgTools.updateFinalList();\nreturn msg;","outputs":1,"noerr":0,"x":363.1187286376953,"y":405.0508403778076,"wires":[[]]},{"id":"482ef557.e82cbc","type":"inject","z":"1eda2f37.e151d1","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":112.81250762939453,"y":522.6133117675781,"wires":[["e445f61e.54b598"]]},{"id":"e445f61e.54b598","type":"function","z":"1eda2f37.e151d1","name":"New device-map from file to  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nmsgTools.setDeviceMapFromFile();\nreturn msg;","outputs":1,"noerr":0,"x":385.1187438964844,"y":522.050874710083,"wires":[[]]},{"id":"5670ed33.55a3c4","type":"comment","z":"1eda2f37.e151d1","name":"手動將finalList存到clodunt","info":"","x":115,"y":325.61328125,"wires":[]},{"id":"cfb6ca3e.920a58","type":"mqtt in","z":"1eda2f37.e151d1","name":"","topic":"GIOT-GW/UL/+","qos":"2","broker":"38b4d6b.c6df52a","x":155.1666717529297,"y":58.35008239746094,"wires":[["ab5b05e0.d1b0d8","9637247e.2d3cd8"]]},{"id":"ab5b05e0.d1b0d8","type":"debug","z":"1eda2f37.e151d1","name":"","active":false,"console":"false","complete":"false","x":356.1666717529297,"y":58.23896884918213,"wires":[]},{"id":"9637247e.2d3cd8","type":"json","z":"1eda2f37.e151d1","name":"","x":259.1666717529297,"y":173.9056396484375,"wires":[["eca0e800.b08ef8","e1169ace.5efd28","e735e3a6.81654"]]},{"id":"eca0e800.b08ef8","type":"function","z":"1eda2f37.e151d1","name":"Filter fport","func":"var load = msg.payload[0];\n//node.warn('load : ' + JSON.stringify(load));\nif (load.fport ===17 || load.fport === 18) {\n    msg.payload = load;\n    return msg;\n}else{\n    node.log('\\n###### fport is not 17 or 18 to drop data');\n    return;\n}\n","outputs":1,"noerr":0,"x":424.28570556640625,"y":172.0802459716797,"wires":[["1c14967c.290fda"]]},{"id":"e1169ace.5efd28","type":"debug","z":"1eda2f37.e151d1","name":"","active":false,"console":"false","complete":"false","x":139.1666717529297,"y":262.2389717102051,"wires":[]},{"id":"e735e3a6.81654","type":"debug","z":"1eda2f37.e151d1","name":"","active":false,"console":"false","complete":"false","x":416,"y":107.79452514648438,"wires":[]},{"id":"8d916f0e.409bf","type":"e-mail","z":"1eda2f37.e151d1","server":"smtp.gmail.com","port":"465","secure":true,"name":"hyper5798@gmail.com","dname":"","x":944,"y":31.794525146484375,"wires":[]},{"id":"e7662b78.32f848","type":"debug","z":"1eda2f37.e151d1","name":"","active":false,"console":"false","complete":"false","x":905,"y":72.79452514648438,"wires":[]},{"id":"ce00f15.657e61","type":"comment","z":"1eda2f37.e151d1","name":"Emaii notify","info":"","x":905,"y":121.79452514648438,"wires":[]},{"id":"a294def9.6adac","type":"function","z":"1eda2f37.e151d1","name":"send WS command","func":"node.warn('Before msg.payload:\\n'+JSON.stringify(msg.payload));\n\nmsg.payload = {id:\"event_notity\", v: msg.payload}; \nnode.warn('After msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":918,"y":370.7945251464844,"wires":[["3e3a7f2b.83563"]]},{"id":"3e3a7f2b.83563","type":"websocket out","z":"1eda2f37.e151d1","name":"","server":"991f95d4.7c87e8","client":"","x":1139,"y":372.7945251464844,"wires":[]},{"id":"38b4d6b.c6df52a","type":"mqtt-broker","z":"","broker":"119.81.189.47","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"991f95d4.7c87e8","type":"websocket-listener","z":"","path":"/ws/notify","wholemsg":"false"}]