public/flow/MQTT_sub.json
[{"id":"dd1a42ce.3cac8","type":"function","z":"b08b066f.fbb7d8","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( msg.payload);\nif(parseData === null){\n    node.warn('Repeat message drop!!!');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":606.1874389648438,"y":165.20547485351562,"wires":[["edd43dd5.a0a19","be973125.d8c58"]]},{"id":"c12dca36.fc8a08","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"[{\"channel\":923625000, \"sf\":10, \"time\":\"2017-10-03T07:44:45\", \"gwip\":\"10.8.20.173\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-45.0, \"snr\":27.0, \"snr_max\":38.3, \"snr_min\":19.5, \"macAddr\":\"00000000050102c9\", \"data\":\"fb01050400470404bd0a0e00000000\", \"frameCnt\":370, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":101.81250762939453,"y":164.81874084472656,"wires":[["e2e0baa0.d73348"]]},{"id":"be973125.d8c58","type":"function","z":"b08b066f.fbb7d8","name":" message switch notify","func":"var msgTools = context.global.msgTools;\nvar obj = msg.payload;\nvar msgObj = msgTools.getNotifyMessage(obj);\nvar msg2 = {};\n\nif(msgObj){\n    var message = '裝置: ' + msgObj.name + '\\n';\n    message = message + '識別碼: ' + msgObj.mac + '\\n';\n    message = message + '時間: ' + msgObj.date + '\\n';\n    message = message + '異常訊息: ' + msgObj.message;\n    msg.payload = message;\n    msg.topic = \"永齡農場問題通知\";\n    //node.warn('final payload : ' + message);\n    msg2.payload = msgObj;\n\n    return [msg,msg2];\n}else{\n    return;\n}","outputs":"2","noerr":0,"x":671.8125,"y":263.8187561035156,"wires":[["434c8d73.40b4b4"],["ba2e3cbe.71c7c"]]},{"id":"39cc8912.c924f6","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"{ \"macAddr\": \"00000000050106e5\", \"data\": \"fb0104c40000060b140a63013f0000\", \"time\": 1509608809000, \"recv\": \"2017-11-02T07:46:49\", \"date\": \"2017-11-02 15:46:49\", \"extra\": { \"gwip\": \"192.168.0.231\", \"gwid\": \"00001c497b431e2e\", \"rssi\": -64, \"snr\": 25, \"fport\": 17, \"frameCnt\": 73, \"channel\": 926125000 }, \"information\": { \"ph\": \"6.89\", \"water\": \"28.36\", \"temperature\": \"26.59\", \"ec\": \"0.32\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":427.8125,"y":220.81875610351562,"wires":[["be973125.d8c58"]]},{"id":"b55d8c18.efc18","type":"comment","z":"b08b066f.fbb7d8","name":"手動測試(須改data tag)","info":"","x":132,"y":214.68542671203613,"wires":[]},{"id":"509da271.c6b37c","type":"comment","z":"b08b066f.fbb7d8","name":"手動測試mail收信(不需改tag)","info":"","x":370.9791564941406,"y":305.6854248046875,"wires":[]},{"id":"edd43dd5.a0a19","type":"debug","z":"b08b066f.fbb7d8","name":"","active":true,"console":"false","complete":"false","x":672.4998779296875,"y":34.837493896484375,"wires":[]},{"id":"202f1dbc.4a5052","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":114.50621032714844,"y":359.3811683654785,"wires":[["d548bb99.2886c8"]]},{"id":"d548bb99.2886c8","type":"function","z":"b08b066f.fbb7d8","name":"Save final list to  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nvar obj = {\n   \"selector\": {\n    \"mac\": \"0000000004000493\"\n     },\n    \"fields\" : [\"macAddr\",\"information.\"],\n    \"limit\": 10,\n    \"skip\": 0\n  };\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\nvar list = {\n      \"mac\":\"aaaaaa\",\n      \"temp\":\"32\",\n      \"humidity\":\"55\",\n      \"recordTime\":\"2017-08-31T09:48:42.504104Z\"\n    };\nmsgTools.saveFinalListToFile(null); \nmsg.payload = msgTools.getFinalList();\nreturn msg;","outputs":1,"noerr":0,"x":356.8124465942383,"y":358.8187313079834,"wires":[["1b0f2d75.504643"]]},{"id":"1b0f2d75.504643","type":"debug","z":"b08b066f.fbb7d8","name":"","active":true,"console":"false","complete":"false","x":633.4999237060547,"y":358.8374671936035,"wires":[]},{"id":"d7bbe2ee.27642","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":109.81249237060547,"y":474.8187313079834,"wires":[["711b86f6.809d98"]]},{"id":"711b86f6.809d98","type":"function","z":"b08b066f.fbb7d8","name":"Updata device-map from  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nmsgTools.updateDeviceMap();\nreturn msg;","outputs":1,"noerr":0,"x":372.1187286376953,"y":474.2562942504883,"wires":[[]]},{"id":"55cd7842.f07ef8","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":110.81249237060547,"y":396.81875228881836,"wires":[["2659730.42e998e"]]},{"id":"2659730.42e998e","type":"function","z":"b08b066f.fbb7d8","name":"Updata finalList from  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nmsgTools.updateFinalList();\nreturn msg;","outputs":1,"noerr":0,"x":363.1187286376953,"y":396.25631523132324,"wires":[[]]},{"id":"27110c4e.2f9f64","type":"inject","z":"b08b066f.fbb7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":112.81250762939453,"y":513.8187866210938,"wires":[["b13242de.4ef85"]]},{"id":"b13242de.4ef85","type":"function","z":"b08b066f.fbb7d8","name":"New device-map from file to  DB","func":"var dbUtil = context.global.dbUtil;\nvar msgTools = context.global.msgTools;\nmsgTools.setDeviceMapFromFile();\nreturn msg;","outputs":1,"noerr":0,"x":385.1187438964844,"y":513.2563495635986,"wires":[[]]},{"id":"1eb7c038.27d7d","type":"comment","z":"b08b066f.fbb7d8","name":"手動將finalList存到clodunt","info":"","x":115,"y":316.8187561035156,"wires":[]},{"id":"aa986b80.28f068","type":"mqtt in","z":"b08b066f.fbb7d8","name":"","topic":"GIOT-GW/UL/+","qos":"2","broker":"ff376a4b.f49b78","x":155.1666717529297,"y":49.55555725097656,"wires":[["5f7aba87.8d32a4","e2e0baa0.d73348"]]},{"id":"5f7aba87.8d32a4","type":"debug","z":"b08b066f.fbb7d8","name":"","active":false,"console":"false","complete":"false","x":356.1666717529297,"y":49.444443702697754,"wires":[]},{"id":"e2e0baa0.d73348","type":"json","z":"b08b066f.fbb7d8","name":"","x":259.1666717529297,"y":165.11111450195312,"wires":[["b1d66595.988d88","c327e3b6.85ab1","28d6dcf2.8f3f74"]]},{"id":"b1d66595.988d88","type":"function","z":"b08b066f.fbb7d8","name":"Filter fport","func":"var load = msg.payload[0];\n//node.warn('load : ' + JSON.stringify(load));\nif (load.fport ===17 || load.fport === 18) {\n    msg.payload = load;\n    return msg;\n}else{\n    node.log('\\n###### fport is not 17 or 18 to drop data');\n    return;\n}\n","outputs":1,"noerr":0,"x":424.28570556640625,"y":163.2857208251953,"wires":[["dd1a42ce.3cac8"]]},{"id":"c327e3b6.85ab1","type":"debug","z":"b08b066f.fbb7d8","name":"","active":false,"console":"false","complete":"false","x":139.1666717529297,"y":253.4444465637207,"wires":[]},{"id":"28d6dcf2.8f3f74","type":"debug","z":"b08b066f.fbb7d8","name":"","active":false,"console":"false","complete":"false","x":416,"y":99,"wires":[]},{"id":"16de581e.f24c28","type":"e-mail","z":"b08b066f.fbb7d8","server":"smtp.gmail.com","port":"465","secure":true,"name":"hyper5798@gmail.com","dname":"","x":944,"y":23,"wires":[]},{"id":"434c8d73.40b4b4","type":"debug","z":"b08b066f.fbb7d8","name":"","active":false,"console":"false","complete":"false","x":905,"y":64,"wires":[]},{"id":"a2555fcd.3f5e4","type":"comment","z":"b08b066f.fbb7d8","name":"Emaii notify","info":"","x":905,"y":113,"wires":[]},{"id":"ba2e3cbe.71c7c","type":"function","z":"b08b066f.fbb7d8","name":"send WS command","func":"node.warn('Before msg.payload:\\n'+JSON.stringify(msg.payload));\n\nmsg.payload = {id:\"event_notity\", v: msg.payload}; \nnode.warn('After msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":918,"y":362,"wires":[["d6d9e037.65963"]]},{"id":"d6d9e037.65963","type":"websocket out","z":"b08b066f.fbb7d8","name":"","server":"69206c9e.2cc9a4","client":"","x":1129,"y":364,"wires":[]},{"id":"ff376a4b.f49b78","type":"mqtt-broker","z":"","broker":"119.81.189.47","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"69206c9e.2cc9a4","type":"websocket-listener","z":"","path":"/ws/notify","wholemsg":"false"}]