public/flow/update_setting.json
[{"id":"3806350f.17c50a","type":"debug","z":"df2eef80.706f2","name":"","active":true,"console":"false","complete":"false","x":337,"y":106,"wires":[]},{"id":"1054dc9.f2d8c23","type":"inject","z":"df2eef80.706f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125.00003051757812,"y":235.73336791992188,"wires":[["78b2889b.d9dda8"]]},{"id":"78b2889b.d9dda8","type":"function","z":"df2eef80.706f2","name":"getProfiles","func":"var msgTools = context.global.msgTools;\nmsg.payload = msgTools.getProfiles();\nreturn msg;","outputs":1,"noerr":0,"x":324.69993591308594,"y":236.4666919708252,"wires":[["6e256c1a.87bdb4"]]},{"id":"6e256c1a.87bdb4","type":"debug","z":"df2eef80.706f2","name":"","active":true,"console":"false","complete":"false","x":522.0000305175781,"y":238.00003051757812,"wires":[]},{"id":"ce310a26.d1e2f8","type":"comment","z":"df2eef80.706f2","name":"Listen data update message","info":"","x":162,"y":60,"wires":[]},{"id":"9546db29.347558","type":"inject","z":"df2eef80.706f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":124,"y":295,"wires":[["aeb4b8c6.983078"]]},{"id":"aeb4b8c6.983078","type":"function","z":"df2eef80.706f2","name":"geHasProfiledDevices","func":"var msgTools = context.global.msgTools;\nmsg.payload = msgTools.geHasProfiledDevices();\nreturn msg;","outputs":1,"noerr":0,"x":329.6999053955078,"y":296.73333740234375,"wires":[["82e46ae4.a0fad8"]]},{"id":"82e46ae4.a0fad8","type":"debug","z":"df2eef80.706f2","name":"","active":true,"console":"false","complete":"false","x":545,"y":295.26666259765625,"wires":[]},{"id":"c81330c7.887a8","type":"function","z":"df2eef80.706f2","name":"","func":"var msgTools = context.global.msgTools;\n\n// toggle switch tsw-1\t- output 1 \nif(msg.payload==\"update-profileList\"){\n    msgTools.updateProfileList();\n}else if(msg.payload==\"update-bindList\"){\n\tmsgTools.updateBindList();\n}","outputs":1,"noerr":0,"x":335,"y":160,"wires":[[]]},{"id":"5b23ceaf.560b3","type":"mqtt in","z":"df2eef80.706f2","name":"","topic":"agri_mqtt","qos":"2","broker":"38b4d6b.c6df52a","x":102,"y":105,"wires":[["3806350f.17c50a","c81330c7.887a8"]]},{"id":"38b4d6b.c6df52a","type":"mqtt-broker","z":"","broker":"119.81.189.47","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]