public/flow/update_setting.json
[{"id":"25108ce0.c91424","type":"websocket in","z":"271c9078.7ed11","name":"","server":"5c90d1a8.1d6ac","client":"","x":137,"y":59,"wires":[["725aab10.e97da4","631520e3.44fcb"]]},{"id":"725aab10.e97da4","type":"debug","z":"271c9078.7ed11","name":"","active":true,"console":"false","complete":"false","x":349,"y":59,"wires":[]},{"id":"9fb0a188.30c56","type":"inject","z":"271c9078.7ed11","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":124.00003051757812,"y":277.7333679199219,"wires":[["3e9de1fb.14fd0e"]]},{"id":"3e9de1fb.14fd0e","type":"function","z":"271c9078.7ed11","name":"getProfiles","func":"var msgTools = context.global.msgTools;\nmsg.payload = msgTools.getProfiles();\nreturn msg;","outputs":1,"noerr":0,"x":323.69993591308594,"y":278.4666919708252,"wires":[["b7825fce.16745"]]},{"id":"b7825fce.16745","type":"debug","z":"271c9078.7ed11","name":"","active":true,"console":"false","complete":"false","x":521.0000305175781,"y":280.0000305175781,"wires":[]},{"id":"5f5241c4.573d4","type":"comment","z":"271c9078.7ed11","name":"Listen data update message","info":"","x":163,"y":17,"wires":[]},{"id":"631520e3.44fcb","type":"function","z":"271c9078.7ed11","name":"","func":"var obj = JSON.parse(msg.payload);\nvar msgTools = context.global.msgTools;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"update-profileList\"){\n    msgTools.updateProfileList();\n}else if(obj.id==\"update-bindList\"){\n\tmsgTools.updateBindList();\n}","outputs":1,"noerr":0,"x":336,"y":117,"wires":[[]]},{"id":"daaecdb5.fdab5","type":"inject","z":"271c9078.7ed11","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":337,"wires":[["772221fe.f9fc6"]]},{"id":"772221fe.f9fc6","type":"function","z":"271c9078.7ed11","name":"geHasProfiledDevices","func":"var msgTools = context.global.msgTools;\nmsg.payload = msgTools.geHasProfiledDevices();\nreturn msg;","outputs":1,"noerr":0,"x":328.6999053955078,"y":338.73333740234375,"wires":[["aff85ff1.fdd53"]]},{"id":"aff85ff1.fdd53","type":"debug","z":"271c9078.7ed11","name":"","active":true,"console":"false","complete":"false","x":544,"y":337.26666259765625,"wires":[]},{"id":"adbcbc61.94a26","type":"websocket in","z":"271c9078.7ed11","name":"","server":"69206c9e.2cc9a4","client":"","x":113,"y":196,"wires":[["7b1cb885.150548"]]},{"id":"7b1cb885.150548","type":"debug","z":"271c9078.7ed11","name":"","active":true,"console":"false","complete":"false","x":340,"y":197,"wires":[]},{"id":"5c90d1a8.1d6ac","type":"websocket-listener","z":"","path":"/ws/dataupdate","wholemsg":"false"},{"id":"69206c9e.2cc9a4","type":"websocket-listener","z":"","path":"/ws/notify","wholemsg":"false"}]