public/flow/ws_index.json
[{"id":"6145e96b.c5a8d8","type":"websocket in","z":"de44f1e3.de42a","name":"web socket index - in","server":"39aa5352.a005ac","client":"","x":160.81251525878906,"y":114,"wires":[["30acab7c.aa51d4"]]},{"id":"30acab7c.aa51d4","type":"function","z":"de44f1e3.de42a","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":443.2569580078125,"y":131.3333330154419,"wires":[["aa4be595.226cc8"],["ee8fbabd.fbba48"]]},{"id":"97c8fa73.d89728","type":"function","z":"de44f1e3.de42a","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":890.2569580078125,"y":154.00000381469727,"wires":[["aa4be595.226cc8"]]},{"id":"aa4be595.226cc8","type":"websocket out","z":"de44f1e3.de42a","name":"web socket mobiUI - out","server":"39aa5352.a005ac","client":"","x":1179.2569580078125,"y":114.00000381469727,"wires":[]},{"id":"fcd8c1b0.3b86d","type":"comment","z":"de44f1e3.de42a","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":139.2569580078125,"y":67.00000381469727,"wires":[]},{"id":"ee8fbabd.fbba48","type":"http request","z":"de44f1e3.de42a","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":650.2569580078125,"y":154.00000381469727,"wires":[["97c8fa73.d89728"]]},{"id":"48f0d357.28d5dc","type":"websocket out","z":"de44f1e3.de42a","name":"web socket mobiUI - out","server":"21f35b6.c3927a4","client":"","x":917.3758697509766,"y":391.3999938964844,"wires":[]},{"id":"1d4a752.7a9d58b","type":"websocket in","z":"de44f1e3.de42a","name":"web socket tools - in","server":"21f35b6.c3927a4","client":"","x":154.70919799804688,"y":306.4000005722046,"wires":[["a167525b.4e085","348c01e5.217e8e"]]},{"id":"7a6d5686.f33848","type":"comment","z":"de44f1e3.de42a","name":"Listen /ws/devices","info":"","x":141.37586975097656,"y":266.3999938964844,"wires":[]},{"id":"a167525b.4e085","type":"function","z":"de44f1e3.de42a","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":137.8203125,"y":390.3999900817871,"wires":[["4baab0ab.0f547"]]},{"id":"348c01e5.217e8e","type":"debug","z":"de44f1e3.de42a","name":"","active":false,"console":"false","complete":"payload","x":467.62586975097656,"y":304.0171813964844,"wires":[]},{"id":"4baab0ab.0f547","type":"http request","z":"de44f1e3.de42a","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":325.3758316040039,"y":390.39998722076416,"wires":[["115bf7f9.ffd1b8","6af3a6d4.0c6e68"]]},{"id":"115bf7f9.ffd1b8","type":"debug","z":"de44f1e3.de42a","name":"","active":false,"console":"false","complete":"payload","x":448.61805725097656,"y":470.0171813964844,"wires":[]},{"id":"6af3a6d4.0c6e68","type":"function","z":"de44f1e3.de42a","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataObj = msgTools.getDevicesData(devices);\n\nmsg.payload = {id:\"init_table\", v: dataObj }; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":616.3758697509766,"y":392.3999938964844,"wires":[["48f0d357.28d5dc","dfe75a4d.6334e8"]]},{"id":"dfe75a4d.6334e8","type":"debug","z":"de44f1e3.de42a","name":"","active":true,"console":"false","complete":"false","x":834.5061798095703,"y":466.8437194824219,"wires":[]},{"id":"39aa5352.a005ac","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"21f35b6.c3927a4","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"}]