public/flow/ws_index.json
[{"id":"8f391214.69414","type":"http request","z":"51c2699c.618e88","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":629.4444427490234,"y":130.00000381469727,"wires":[["9e472d05.6dc37"]]},{"id":"d302a627.e87fc8","type":"websocket in","z":"51c2699c.618e88","name":"web socket index - in","server":"40ce594b.a05b18","client":"","x":135,"y":103,"wires":[["f36d3c2e.4eede"]]},{"id":"f36d3c2e.4eede","type":"function","z":"51c2699c.618e88","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":422.44444274902344,"y":107.3333330154419,"wires":[["d3b1b6b8.22b568"],["8f391214.69414"]]},{"id":"9e472d05.6dc37","type":"function","z":"51c2699c.618e88","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":869.4444427490234,"y":130.00000381469727,"wires":[["d3b1b6b8.22b568"]]},{"id":"d3b1b6b8.22b568","type":"websocket out","z":"51c2699c.618e88","name":"web socket mobiUI - out","server":"40ce594b.a05b18","client":"","x":1158.4444427490234,"y":90.00000381469727,"wires":[]},{"id":"511d756f.29290c","type":"comment","z":"51c2699c.618e88","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":118.44444274902344,"y":43.000003814697266,"wires":[]},{"id":"4f0537dc.341ec8","type":"websocket out","z":"51c2699c.618e88","name":"web socket mobiUI - out","server":"95c9be1e.9a1b","client":"","x":896.5633544921875,"y":367.3999938964844,"wires":[]},{"id":"a437f23c.2d44","type":"websocket in","z":"51c2699c.618e88","name":"web socket tools - in","server":"95c9be1e.9a1b","client":"","x":133.8966827392578,"y":282.4000005722046,"wires":[["53893ca.7bc26c4","b63aafa5.4f5fe"]]},{"id":"7bbd5036.bc48d","type":"comment","z":"51c2699c.618e88","name":"Listen /ws/devices","info":"","x":120.5633544921875,"y":242.39999389648438,"wires":[]},{"id":"53893ca.7bc26c4","type":"function","z":"51c2699c.618e88","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":117.00779724121094,"y":366.3999900817871,"wires":[["9df8c5e5.0235c8"]]},{"id":"b63aafa5.4f5fe","type":"debug","z":"51c2699c.618e88","name":"","active":false,"console":"false","complete":"payload","x":446.8133544921875,"y":280.0171813964844,"wires":[]},{"id":"9df8c5e5.0235c8","type":"http request","z":"51c2699c.618e88","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":304.56331634521484,"y":366.39998722076416,"wires":[["ea9b8bf6.fb11a8","58f1ec08.72ead4"]]},{"id":"ea9b8bf6.fb11a8","type":"debug","z":"51c2699c.618e88","name":"","active":false,"console":"false","complete":"payload","x":427.8055419921875,"y":446.0171813964844,"wires":[]},{"id":"58f1ec08.72ead4","type":"function","z":"51c2699c.618e88","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataObj = msgTools.getDevicesData(devices);\n\nmsg.payload = {id:\"init_table\", v: dataObj }; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":595.5633544921875,"y":368.3999938964844,"wires":[["4f0537dc.341ec8","f4cb254b.352fd8"]]},{"id":"f4cb254b.352fd8","type":"debug","z":"51c2699c.618e88","name":"","active":true,"console":"false","complete":"false","x":813.6936645507812,"y":442.8437194824219,"wires":[]},{"id":"40ce594b.a05b18","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"95c9be1e.9a1b","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"}]